body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: rgb(44, 84, 47);
   color: rgb(255, 255, 255);
}

H1 {
   font-size: 250%;
}

.wrapper {
   max-width: 48rem;
   margin: 0 auto;
}

header {
   background-color: rgb(40, 111, 40);
   padding: 20px;
   text-align: center;
}


nav{
   background-color: aliceblue;
   text-transform: uppercase;
   border: 2px solid green;
}

nav ul {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

nav li {
   list-style-type: none;
   padding: 1rem;
}

nav a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   padding: 1rem 2rem;
}

nav a:hover,
   .current {
   background-color: rgba(50, 202, 20, 0.67);
   border-radius: 2rem;
}

.main-column {
   font-size: 120%;
   padding: 1em 1em 1em 1em ;
}

.main-column h2{
   font-size: 135%;
   border-bottom:2px solid #00ff55;
   padding: 0.em
}

footer{
   background-color: #ffffff;
   color: rgb(2, 80, 10);
   padding: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer a {
   color: rgb(6, 91, 5);
   padding: 0.2em;
   font-size: 175%;
   text-decoration: none;
 }

 footer a:hover{
   color:black;
   text-shadow: 0 0 5px white
 }

 .services p{
   padding:0.3em 0.3em 0.3em 0.3em;
}

.services h2{
   font-size: 150%;
   color: #ffffff;
   border-bottom:2px solid #00ff55;
   padding: 0.em;
}

.services {
   padding:1em 1em 1em 1em;
}

.services li{
   list-style-image: url(images/Check\ 1.png);
   padding: 7.5px;
   list-style-position: inside;
}



.services img {
   border-radius: 50px;
   padding: 1em 1em 1em 1em ; 
}


.left-column {
   font-size: 120%;
}

.left-column h2{
   font-size: 135%;
   border-bottom:2px solid #00ff55;
   padding: 0.em;
}


.right-column {
   font-size: 120%;
   padding-top: 1em;
}

.right-column h2{
   font-size: 135%;
   border-bottom:2px solid #00ff55;
   

}


section:is(.interior, .signage) img {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-gap: 1rem;
   background-color: #c0cac9;
   border: 2px solid #89a0ae;
   justify-content: space-around;
   align-items: center;
   border-radius: 1rem;
   padding: 1.5rem;
   max-width: 80%;
   margin: 1em auto;
}

section:is(.interior, .signage) img {
   max-width: 100%;
   border: 3px solid white;
   border-radius: 4rem;
   box-shadow: 0 10px 10px -10px black;
   transition:all 2s ease;
   animation: picfade 1.5s ease 1s ;
}

section:is(.interior, .signage) img:hover{
   transform: scale(1.5);
   position: relative;
   z-index: 2;
   border-radius: 0;
   box-shadow: 0 20px 30px black;
}


section:hover img:not(:hover) {
   transform: scale(.9);
   opacity: 30%;
   filter:  blur(3px);
}


@keyframes picfade {
   from {
      transform: scale (.5);
      filter: blur(15px);
      opacity: 0;
   }


   to{
      opacity: 1;
   }
}